<section class="ui raised segment">
	<div class="ui grid ">
		<div class="ui form six wide column">
			<div class="ui stacked segment">
				<form action="/tweet/${tweet.from.uuid}/tweet/${tweet.id}" method="POST">
					<div class="ui dropdown" name="TweetMessage">
						<div class="field">
							<label>Tweet Message</label> <input placeholder="Tweet Message"
								type="text" name="message" id="message" value="${tweet.message}" maxlength="140">
						</div>
						<div class="field">
							<label>Cordinates</label> <input placeholder="GPS cordinates"
								type="text" name="geolocation" id="geolocation" value="${tweet.geolocation}" readonly class="input-medium">
						</div>
					</div>
					<button class="ui blue submit button">Edit Tweet</button>
				</form>
			</div>
		</div>
		<aside class="six wide column">
			<img src="/public/images/homer4.jpeg" class="ui medium image">
		</aside>
	</div>
</section>	