  <section class="ui raised segment">
    <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
    <header>
    <h1>Follow Section</h1>
    <h2>Select who to follow.</h2>
</header>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Name</th>
            <th>email</th>
            <th>UUID</th>
          </tr>
        </thead>
        <tbody>
          #{list items:allUsers, as:'user'}
            <tr>
              <td>${user.firstName}&nbsp${user.lastName} <i class="large plus sign icon"></i><a
						href="/follow/${user.uuid}"> (I Follow) </a></td>
              <td>${user.email}</td>
              <td>${user.uuid}</td>
            </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>
