  <section class="ui raised segment">
    <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer4.jpeg" class="ui medium image">
    </aside>
    <article class="eight wide column">
     <header>
    <h1>Your Following Section</h1>
    <h2>Select who to Unfollow.</h2>
</header>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Name</th>
            <th>email</th>
            <th>UUID</th>
          </tr>
        </thead>
        <tbody>
          #{list items:user.Following, as:'follow'}
            <tr>
              <td>${follow.targetUser.firstName}&nbsp${follow.targetUser.lastName} (<a href="/unfollow/${follow.targetUser.uuid}"> drop </a>)<i class="large minus sign icon"></i></td>
              <td>${follow.targetUser.email}</td>
              <td>${follow.targetUser.uuid}</td>
            </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>
