  <section class="ui raised segment">
    <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
        <header>
    <h1>Timeline of Tweets</h1>
    <h2>Tweets of Followed People</h2>
</header>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Message</th>
            <th>Date</th>
            <th>From</th>
          </tr>
        </thead>
        <tbody>
          #{list items:filteredtweets, as:'followed'}
            <tr>
              <td>${followed.message}</td>
              <td>${followed.datestamp}</td>
              <td>${followed.from.firstName}&nbsp${followed.from.lastName}</td>
            </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>
