 <section class="ui raised segment">
   <div class="ui grid">
    <div class="ui raised fluid form segment">
      <div id="map_canvas"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="@{'/public/javascripts/YourLocation.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/Logger.js'}"></script>
      </div>
     </div>
</section>
