  <section class="ui raised segment">
    <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
        <header>
    <h1>Timeline of my Tweets</h1>
    <h2>Timeline of only my tweets</h2>
</header>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Message</th>
            <th>Date</th>
            <th>From</th>
          </tr>
        </thead>
        <tbody>
          #{list items:mynewtweets, as:'tweet'}
            <tr>
              <td>${tweet.message}</td>
              <td>${tweet.datestamp}</td>
              <td>${tweet.from.firstName}&nbsp${tweet.from.lastName}</td>
              <td><a href="/tweet/${tweet.from.uuid}/tweet/${tweet.id}">EDIT</td>
            </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>
