
<section class="ui raised segment">
	<div class="ui grid">
		<aside class="six wide column">
			<img src="/public/images/homer5.jpg" class="ui medium image">
		</aside>
		<article class="eight wide column">
			<header>
				<h1>Public Timeline</h1>
				<h2>Time of all Tweets</h2>
			</header>
			<table class="ui celled table segment">
				<thead>
					<tr>
						<th>Message</th>
						<th>Date</th>
						<th>Tweet From</th>
					</tr>
				</thead>
				<tbody>
					#{list items:alltweets, as:'tweets'}
					<tr>
						<td><a href="/tweet/tweet/${tweets.id}">${tweets.message}</a></td>
						<td>${tweets.datestamp}</td>
						<td>${tweets.from.firstName}&nbsp${tweets.from.lastName}</td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</article>
	</div>
</section>
