  <section class="ui raised segment">
    <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Date</th>
            <th>Tweet Mesage</th>
            <th>Tweeted By</th>
          </tr>
        </thead>
        <tbody>
          #{list items:tweets, as:'tweet'}
            <tr>
              <td>${tweet.datestamp}</td>
              <td>${tweet.message}</td>
              <td>${tweet.from.uuid}</td>
            </tr>
          #{/list}
        </tbody>
      </table>
    </article>
  </div>
</section>
