
<section class="ui raised segment">
	<div class="ui grid">
		<aside class="six wide column">
			<img src="/public/images/homer5.jpg" class="ui medium image">
		</aside>
		<article class="eight wide column">
			<table class="ui celled table segment">
				<thead>
					<tr>
						<th>Date</th>
						<th>Tweet Mesage</th>
						<th>Tweeted By UUID</th>
						<th>Tweeted By</th>
						<th>Geolocation</th>						

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>${tweet.datestamp}</td>
						<td>${tweet.message}</td>
						<td>${tweet.from.uuid}</td>
						<td>${tweet.from.firstName}&nbsp${tweet.from.lastName}</td>
						<td><input type="text" id="geolocation" value="${tweet.geolocation}" readonly class="input-medium"></td>
						
					</tr>
				</tbody>
			</table>
		</article>
	</div>
</section>
