  <nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Tweeter </a> </header>
    <div class="right menu">
      <a class="item" href="/signup"> Signup</a>
      <a class="item" href="/login">  Login</a>
    </div>
  </nav>    