<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/homer.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Tweeter Springfield  </header>
      <p> Tweeter and Chatter! </p>
    </article>
  </div>
</section>