#{extends 'main.html' /}
#{set title:'Tweet Request' /} 

<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> Tweet2U </a> </header>
  <div class="right menu">
    <a class="active item" href="/tweet"> Tweet</a>
        <a class="item" href="/timeline">  Timeline</a>
    <a class="item" href="/follow">  Follow</a>  
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

<section class="ui raised segment">
 
  #{include "segments/follow.html" /} 
       
  <div class="ui  divider"></div> 
  
</section>

