#{extends 'main.html' /} 
#{set title:'Report' /} 

<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> Tweet </a> </header>
  <div class="right menu">
    <a class="item" href="/tweet"> Tweet</a>
        <a class="item" href="/timeline">  Timeline</a>
    <a class="item" href="/follow">  Follow</a> 
        <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

#{include "segments/report.html" /} 
