<div class="ui divider"></div>

<footer class="ui divided horizontal footer link list">
  <div class="item">Tweeter Studios 2015</div>
  <div class="item">
    Built using  <a href="http://www.semantic-ui.com" target="_blank">Semantic ui</a>
  </div>
  <div class="item">
    and the  <a href="http://www.playframework.com" target="_blank">Play Framework</a>
  </div>
</footer>